In [1]:
import geopy.distance
import pandas as pd
import os
import numpy as np

In [4]:
# Get the paths of all the separate files in our dataset as a list
master_paths = []
for path, dirs, files in os.walk(r'D:\Download\Geolife Trajectories 1.3\Geolife Trajectories 1.3\Data'):
    for f in files:
        master_paths.append(path+'\\'+f)
len(master_paths)

18739

In [3]:
# Convert our files into one big csv file
"""Careful running this! Don't do this unless your computer is pretty powerful or at least truncate the data"""
# final_df = pd.DataFrame()
# for f in master_paths:
#     d = pd.read_csv(f,header = None, names = ['lat','long','dummy','altitude','dat_str','date','time'],skiprows=6)
#     final_df = final_df.append(d)
# final_df.to_csv(r'C:\Users\Natarajan\Desktop\big_set.csv',index = None)
# len(final_df)

In [5]:
casino_loc = (39.959083, 116.418655) # Our dummy location

In [6]:
geopy.distance.EARTH_RADIUS = 6371.00877141 # Change the radius of the earth's accuracy

In [7]:
df = pd.read_csv(r'C:\Users\Natarajan\Desktop\big_set.csv') # Read the dataset
df['loc_tuple'] = list(zip(round(df['lat'],10), round(df['long'],10))) # Create the location tuple
# Apply the Vincenty function to each location
%time df['vincenty'] = df['loc_tuple'].apply(lambda x : geopy.distance.vincenty(casino_loc,x).m)
df.head()

Wall time: 2min 22s

,lat,long,dummy,altitude,dat_str,date,time,loc_tuple,vincenty
0,39.984702,116.318417,0,492.0,39744.120185,2008-10-23,02:53:04,"(39.984702, 116.318417)",9023.322012
1,39.984683,116.318450,0,492.0,39744.120255,2008-10-23,02:53:10,"(39.984683, 116.31845)",9019.982741
2,39.984686,116.318417,0,492.0,39744.120313,2008-10-23,02:53:15,"(39.984686, 116.318417)",9022.763064
3,39.984688,116.318385,0,492.0,39744.120370,2008-10-23,02:53:20,"(39.984688, 116.318385)",9025.427427
4,39.984655,116.318263,0,492.0,39744.120428,2008-10-23,02:53:25,"(39.984655, 116.318263)",9034.169435

In [8]:
len(df)

6055906

In [8]:
df['accuracy'] = 4 * np.random.rand(len(df)) # Simulate the accuracy variable
%time df['corrected'] = df['vincenty'] + df['accuracy'] # Create the corrected distance
df.head()

Wall time: 267 ms

,lat,long,dummy,altitude,dat_str,date,time,loc_tuple,vincenty,accuracy,corrected
0,39.984702,116.318417,0,492.0,39744.120185,2008-10-23,02:53:04,"(39.984702, 116.318417)",9023.322012,1.385567,9024.707579
1,39.984683,116.318450,0,492.0,39744.120255,2008-10-23,02:53:10,"(39.984683, 116.31845)",9019.982741,2.701586,9022.684328
2,39.984686,116.318417,0,492.0,39744.120313,2008-10-23,02:53:15,"(39.984686, 116.318417)",9022.763064,2.387061,9025.150125
3,39.984688,116.318385,0,492.0,39744.120370,2008-10-23,02:53:20,"(39.984688, 116.318385)",9025.427427,4.313699,9029.741126
4,39.984655,116.318263,0,492.0,39744.120428,2008-10-23,02:53:25,"(39.984655, 116.318263)",9034.169435,0.735334,9034.904770

In [9]:
print(len(df.loc[df['corrected'] <= 10,:]))
%time df.loc[df['corrected'] <= 10,:] # Select the locations with the corrected distance less than 10 meters

49
Wall time: 8.01 ms

,lat,long,dummy,altitude,dat_str,date,time,loc_tuple,vincenty,accuracy,corrected
1112291,39.959141,116.418614,0,185.0,39822.527847,2009-01-09,12:40:06,"(39.959141, 116.418614)",7.331145,0.244545,7.575690
1112292,39.959141,116.418614,0,185.0,39822.527882,2009-01-09,12:40:09,"(39.959141, 116.418614)",7.331145,2.020972,9.352117
1112293,39.959140,116.418608,0,184.0,39822.527905,2009-01-09,12:40:11,"(39.95914, 116.418608)",7.495512,0.557843,8.053356
3070423,39.959133,116.418637,0,105.0,39734.394757,2008-10-13,09:28:27,"(39.959133, 116.418637)",5.760793,0.750748,6.511541
3070424,39.959101,116.418631,0,105.0,39734.394792,2008-10-13,09:28:30,"(39.959101, 116.418631)",2.863507,0.985347,3.848855
3070425,39.959062,116.418625,0,106.0,39734.394826,2008-10-13,09:28:33,"(39.959062, 116.418625)",3.465192,0.420939,3.886131
3070807,39.959083,116.418655,0,489.0,39734.972303,2008-10-13,23:20:07,"(39.959083, 116.418655)",0.000000,1.311103,1.311103
3070808,39.959085,116.418640,0,490.0,39734.972338,2008-10-13,23:20:10,"(39.959085, 116.41864)",1.300763,0.436005,1.736768
3070809,39.959104,116.418654,0,491.0,39734.972373,2008-10-13,23:20:13,"(39.959104, 116.418654)",2.333276,4.476583,6.809858
3073651,39.959048,116.418695,0,165.0,39735.393530,2008-10-14,09:26:41,"(39.959048, 116.418695)",5.175292,0.896804,6.072096
3079158,39.959050,116.418746,0,146.0,39737.389873,2008-10-16,09:21:25,"(39.95905, 116.418746)",8.595543,0.456860,9.052403
3098793,39.959085,116.418730,0,141.0,39741.416701,2008-10-20,10:00:03,"(39.959085, 116.41873)",6.412182,1.015705,7.427887
3103334,39.959060,116.418562,0,508.0,39742.972396,2008-10-21,23:20:15,"(39.95906, 116.418562)",8.346620,1.129623,9.476242
3137414,39.959027,116.418588,0,181.0,39754.076771,2008-11-02,01:50:33,"(39.959027, 116.418588)",8.451944,0.253122,8.705066
3137416,39.959047,116.418597,0,182.0,39754.076794,2008-11-02,01:50:35,"(39.959047, 116.418597)",6.366908,2.508537,8.875445
3137417,39.959060,116.418599,0,182.0,39754.076806,2008-11-02,01:50:36,"(39.95906, 116.418599)",5.423741,2.878901,8.302642
3137418,39.959074,116.418601,0,182.0,39754.076817,2008-11-02,01:50:37,"(39.959074, 116.418601)",4.720977,3.570828,8.291805
3137419,39.959088,116.418619,0,183.0,39754.076840,2008-11-02,01:50:39,"(39.959088, 116.418619)",3.125699,4.446758,7.572457
3137420,39.959100,116.418628,0,183.0,39754.076852,2008-11-02,01:50:40,"(39.9591, 116.418628)",2.980804,1.504770,4.485574
3137421,39.959109,116.418632,0,184.0,39754.076863,2008-11-02,01:50:41,"(39.959109, 116.418632)",3.492302,0.114562,3.606864
3137422,39.959125,116.418642,0,187.0,39754.076875,2008-11-02,01:50:42,"(39.959125, 116.418642)",4.793884,0.950162,5.744046
3137423,39.959147,116.418655,0,188.0,39754.076898,2008-11-02,01:50:44,"(39.959147, 116.418655)",7.106166,1.392118,8.498284
3146845,39.959101,116.418734,0,164.0,39756.414780,2008-11-04,09:57:17,"(39.959101, 116.418734)",7.039777,0.124350,7.164127
3165017,39.959050,116.418749,0,129.0,39763.448576,2008-11-11,10:45:57,"(39.95905, 116.418749)",8.828096,0.899170,9.727266
3173112,39.959149,116.418654,0,147.0,39765.428715,2008-11-13,10:17:21,"(39.959149, 116.418654)",7.328732,0.713050,8.041782
3173113,39.959057,116.418659,0,147.0,39765.428727,2008-11-13,10:17:22,"(39.959057, 116.418659)",2.907041,0.224040,3.131081
3174911,39.959137,116.418671,0,138.0,39766.507731,2008-11-14,12:11:08,"(39.959137, 116.418671)",6.149711,0.822290,6.972001
3174912,39.959038,116.418663,0,139.0,39766.507743,2008-11-14,12:11:09,"(39.959038, 116.418663)",5.043064,0.274455,5.317519
3198137,39.959056,116.418723,0,264.0,39785.977477,2008-12-03,23:27:34,"(39.959056, 116.418723)",6.538058,0.297498,6.835557
3198138,39.959065,116.418721,0,268.0,39785.977500,2008-12-03,23:27:36,"(39.959065, 116.418721)",5.983022,3.672485,9.655507
3198139,39.959072,116.418720,0,273.0,39785.977523,2008-12-03,23:27:38,"(39.959072, 116.41872)",5.686603,1.811875,7.498479
3198141,39.959086,116.418715,0,282.0,39785.977569,2008-12-03,23:27:42,"(39.959086, 116.418715)",5.137478,4.352043,9.489521
3198142,39.959093,116.418712,0,287.0,39785.977593,2008-12-03,23:27:44,"(39.959093, 116.418712)",4.995299,4.889133,9.884432
3198143,39.959100,116.418706,0,291.0,39785.977616,2008-12-03,23:27:46,"(39.9591, 116.418706)",4.748916,3.178118,7.927034
3198144,39.959113,116.418694,0,293.0,39785.977639,2008-12-03,23:27:48,"(39.959113, 116.418694)",4.711699,2.637598,7.349297
3202489,39.959059,116.418739,0,307.0,39786.978102,2008-12-04,23:28:28,"(39.959059, 116.418739)",7.656069,0.646919,8.302987
3202490,39.959058,116.418734,0,304.0,39786.978113,2008-12-04,23:28:29,"(39.959058, 116.418734)",7.298587,1.112690,8.411277
3202491,39.959071,116.418742,0,301.0,39786.978125,2008-12-04,23:28:30,"(39.959071, 116.418742)",7.552135,0.644493,8.196629
3202503,39.959086,116.418725,0,296.0,39786.978646,2008-12-04,23:29:15,"(39.959086, 116.418725)",5.990381,2.250686,8.241068
3202504,39.959099,116.418715,0,295.0,39786.978657,2008-12-04,23:29:16,"(39.959099, 116.418715)",5.425755,0.681080,6.106835
3202505,39.959107,116.418706,0,295.0,39786.978669,2008-12-04,23:29:17,"(39.959107, 116.418706)",5.107885,3.336677,8.444562
3202507,39.959139,116.418691,0,295.0,39786.978692,2008-12-04,23:29:19,"(39.959139, 116.418691)",6.937146,2.279360,9.216507
3202508,39.959155,116.418680,0,295.0,39786.978715,2008-12-04,23:29:21,"(39.959155, 116.41868)",8.274901,1.628782,9.903684
3210413,39.959066,116.418558,0,270.0,39790.975382,2008-12-08,23:24:33,"(39.959066, 116.418558)",8.500340,0.652861,9.153201
3210414,39.959099,116.418574,0,269.0,39790.975394,2008-12-08,23:24:34,"(39.959099, 116.418574)",7.145373,0.492428,7.637801
3217775,39.959131,116.418719,0,168.0,39792.535833,2008-12-10,12:51:36,"(39.959131, 116.418719)",7.636019,1.253419,8.889438
3217776,39.959058,116.418716,0,170.0,39792.535845,2008-12-10,12:51:37,"(39.959058, 116.418716)",5.905205,0.478338,6.383543
3225282,39.959076,116.418724,0,218.0,39794.541019,2008-12-12,12:59:04,"(39.959076, 116.418724)",5.946680,1.404648,7.351328
3239771,39.959107,116.418732,0,300.0,39829.426169,2009-01-16,10:13:41,"(39.959107, 116.418732)",7.098408,0.013921,7.112329